.privacy_policy_page {
    padding: 60px 0px 0 0;
}
.privacy_policy_page img {
    border: 1px solid #dddd;
    border-radius: 4px;
    padding: 10px;
}
.privacy_policy_page.container h2 {
    display: none !important;
}
.privacy_policy_page.container p{font-size:16px !important;}
.privacy_policy_page.container p span{font-size:16px !important;}