.applied_promo {
    padding-right: 90px;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.promo_submit {
    border-radius: 4px;
    background-color: var(--primaryColor);
    color: #fff;
    font-size: 14px;
    padding: 4px 14px;
    float: left;
    margin-top: 20px;
    text-transform: uppercase;
    margin: 4px 12px !important;
}