<!-------------------contact us page ------------------>
<section class="about_us">
    <div class="container">
      <div class="row">
        <div class="col-md-6 about_txt">
          <h1 class="about_headnig">About us</h1>
          <p>Dubai is an “international city” as most residents would say. From all around the world, people packed their bags to start their new life in this cosmopolitan hub. Although it instantly felt like home, many folks realized their heritage was lost in the foods they were purchasing from supermarkets – and this was back when newspapers were still a thing and grocery shopping was done in a mall!
</p><p>
            The proud founders of Pickitt were also new to the city. For years, they stuck with purchasing the healthy goods in small quantities because it was just for the two of them. As the family grew, they realized the price tags on the healthy ingredients, in the quantities they needed, was a little out of budget. They weren’t even authentic! The Moone wasn’t from Lebanon, the truffle wasn’t from Italy and the spices were not from India. Much to their disappointment, the “authentic” fresh foods were just overpriced, and factory mass-produced. The founders used to always face the same questions, “where do you buy your meats from? What about your veggies? How do you make healthy substitutes for your kids?”
          </p><p>
            Leave it to the locals to bring you what you truly need. With over 20 years of knowing Dubai inside and out, Pickitt is bringing back your traditional ingredients, from your home country, straight to your front door. When home is away from home, at least the food will bring you back without the cost of a plane ticket.
          </p>
        </div>
        <div class="col-md-6 about_img">
          <img src="assets/images/pickkit/about-img.jpg">
        </div>
      </div>
    </div>
  </section>
  <section class="our_mission">
    <div class="container w-75">
      <div class="row">
        <div class="col-md-12 our_mission_txt">
          <h1 class="about_headnig text-center">Our Mission</h1>
          <p>Everyone wants to feel connected to where they originally come from. Everyone wishes they can recreate that special jam grandma used to make back at home. With the lack of authentic imported products and price tags making jaws drop, it was up to Pickitt to bring back what’s important to this city!
          </p><p>
            Pickitt is our pride and joy, and it will be yours too! You can shop for all your authentic and traditional ingredients in one online platform. It will allow you to go beyond Grandma’s homemade jam. Yes, our products are imported from your country. Yes, their prices are unbelievable! Yes, it’s absolutely easy to use.
            </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="our_team">
    <div class="container">
      <div class="row">
        <div class="col-md-12 our_mission_txt text-center">
          <h1 class="about_headnig">The team</h1>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img1.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img2.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img3.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
        <div class="col-md-3 col-sm-6 about_box">
          <img src="assets/images/pickkit/about-img4.jpg">
          <h3 >
            <p>John Doe</p>
            <span>Job position at pickkit</span>
          </h3>
        </div>
      </div>
    </div>
  </section> -->