<div class="wrapper">

    <div class="category">

        <div class="toptabs">
            <ul class="nav nav-tabs ">
                <li class="nav-item"> <a style="text-transform: capitalize;"
                        class="nav-link active">{{localisation.branch_product_assignment | translate}}</a> </li>
            </ul>
        </div>
        <div class="secnav">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <input style="width: 252px" type="text" placeholder="{{'SEARCH' | translate}}"
                        ng-keypress="searchProduct($event)" ng-model="search">
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="topfil">
                        <ul>
                            <li>
                                <button type="button" class="simple" ng-click="refresh()"><img
                                        src="img/v1_images/ic_rotate.svg">{{'REFRESH' | translate}}</button>
                            </li>
                            <li ng-if="permissions('PRODUCT', 'update') == 1">
                                <!-- <button type="button" class="bold create"
                                    ng-click="assignProducts()">{{'ASSIGN SELECTED' | translate}} {{localisation.products | translate}}</button> -->
                                    <button type="button" class="bold create"
                                    ng-click="assignProducts()">{{localisation.assign_selected_product | translate}}</button>
                            </li>
                            <li>
                                <button type="button" class="bold create"
                                    ng-click="viewProducts()">{{'VIEW' | translate}} {{localisation.product | translate}}</button>
                            </li>
                            <li ng-class="is_grid ? 'active' : ''">
                                <a ng-click="is_grid = true"><img src="img/v1_images/ic_grid_selected.svg"></a>
                            </li>
                            <li ng-class="!is_grid ? 'active' : ''">
                                <a ng-click="is_grid = false"><img src="img/v1_images/ic_list_selected.svg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row select-category" style="margin-top: 20px">
                <div class="col-md-3" ng-if="categories.length" style="margin-bottom: 10px;">
                    <label class="cat-label">{{'SELECT' | translate}}
                        {{localisation.category | translate}}</label>
                    <select data-placeholder="Choose {{localisation.category | translate}}" class="app" tabindex="4"
                        ng-model="selected_cat" ng-options="category.name for category in categories"
                        ng-change="onSelectCategory(selected_cat, true)">
                        <option value="" selected disabled>{{'SELECT' | translate}}</option>
                    </select>
                </div>

                <div class="col-md-3" style="margin-bottom: 10px;"
                    ng-repeat="cat in dynamicSubCategories track by $index" ng-init="parentIndex = $index">
                    <label class="cat-label" ng-if="parentIndex == 0">{{selected_cat.name}}</label>
                    <label class="cat-label" ng-if="parentIndex > 0">{{selectedCategory[childIndex-1].name}}</label>
                    <select data-placeholder="Choose Category" tabindex="4" class="app"
                        ng-model="selectedCategory[childIndex]" ng-init="childIndex = $index"
                        ng-options="subCat.name for subCat in cat"
                        ng-change="changeSubCatId(selectedCategory[childIndex], parentIndex + 1, true)">
                        <option value="" selected disabled>{{'SELECT' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="box m-top-30" style="border-radius: 8px; background-color: #FFFFFF;">
            <div class="catbox" ng-if="is_grid">

                <div class="addcatbr">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="product in products">
                            <div class="product-assign">
                                <label style="margin-bottom: 0px">
                                    <input type="checkbox" ng-click="selectProduct(product)">
                                    <span></span>
                                    <img src="{{product.images[0].image_path}}" style="height: 150px">
                                </label>
                                <div class="text">
                                    <strong class="bold ellipsis" style="width: 100%" data-toggle="tooltip"
                                        title="{{product.name_en}}">{{product.name_en}}</strong>
                                    <!-- <p ng-bind-html="product.desc_en | limitHtml: 40 | toTrusted"></p> -->
                                    <p class="price" style="cursor: default">
                                        {{product.regular_price ? (product.discount_price ? currency + product.discount_price : currency + product.regular_price) : ('PRICE NOT ADDED' | translate)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table ng-if="!is_grid">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>{{'NAME' | translate}}</th>
                        <th>{{'DESCRIPTION' | translate}}</th>
                        <!-- <th>SKU</th> -->
                        <th>{{'COMMISSION' | translate}}</th>
                        <th>{{'PRICE' | translate}}</th>
                        <th>{{'IMAGE' | translate}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="product in products | filter : {name_en: search}">
                        <td>
                            <label class="check"><input type="checkbox" ng-click="selectProduct(product)">
                                <span> </span>
                            </label>
                        </td>
                        <td>{{product.id}}</td>
                        <td>{{product.name_en}}</td>
                        <td>
                            <div ng-bind-html="product.desc_en | limitHtml: 40 | toTrusted"></div>
                            <a ng-if="product.desc_en.length > 40"><small
                                    ng-click="viewDescription(product.desc_en)">...{{'READ MORE' | translate}}</small></a>
                        </td>
                        <!-- <td>{{product.sku}}</td> -->
                        <td>{{product.commission}}</td>
                        <td>
                            {{product.regular_price ? product.regular_price : currency + '0'}}
                        </td>
                        <td><img src="{{product.images[0].image_path}}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="no-data-found" ng-if="products.length == 0 && dataLoaded">
                {{'NO DATA FOUND' | translate}}
            </div>

            <div class="no-data-found" ng-if="!dataLoaded">
                {{'PLEASE SELECT CATEGOY' | translate}}
            </div>

            <div ng-if="products.length > 0 && dataLoaded" class="row pagination">
                <ul ng-if="pager.pages && pager.pages.length">
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(1)">{{'FIRST' | translate}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(pager.currentPage - 1)">{{'PREVIOUS' | translate}}</a>
                    </li>
                    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                        <a ng-click="setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.currentPage + 1)">{{'NEXT' | translate}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.totalPages)">{{'LAST' | translate}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>

<success-modal message="localisation.products + ' have been assigned successfully'"></success-modal>
<read-more text="read_more_text"></read-more>

<style>
    .toptabs .nav-tabs .nav-link.active:after {
        background: none;
    }

    .product-assign {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        border: 1px solid #dadada;
        margin: 10px 0px;
    }

    .price {
        color: #656565 !important;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 6px;
    }
</style>