<div class="accsettle m-top-30">
    <ul class="row">
        <div class="col-3">
            <div class="box">
                <small>{{'TOTAL AMOUNT' | translate}} Payable To {{localisation.agent | translate}} For
                    {{localisation.orders | translate}}</small>
                <P>
                    <strong
                        class="bold">{{currency}}{{amount_total && amount_total.total_amount  ? (amount_total.total_amount).toFixed(price_decimal_length) : '0.00'}}</strong>
                </P>
            </div>
        </div>
        <div class="col-3">
            <div class="box">
                <small>{{'TOTAL COMMISSION AMOUNT' | translate}}</small>
                <P>
                    <strong
                        class="bold">{{currency}}{{amount_total && amount_total.total_commission_ammount ? (amount_total.total_commission_ammount).toFixed(price_decimal_length) : '0.00'}}</strong>
                </P>
            </div>
        </div>
        <div class="col-3">
            <div class="box">
                <small>{{'TOTAL DELIVERY CHARGES' | translate}}</small>
                <P>
                    <strong
                        class="bold">{{currency}}{{amount_total && amount_total.total_delivery_charges ? (amount_total.total_delivery_charges).toFixed(price_decimal_length) : '0.00'}}</strong>
                </P>
            </div>
        </div>
        <!-- <div class="col-2">
            <div class="box">
                <small>{{'NET TOTAL AMOUNT' | translate}}</small>
                <P>
                    <strong
                        class="bold">{{currency}}{{amount_total && amount_total.total_net_amount ? (amount_total.total_net_amount).toFixed(2) : '0.00'}}</strong>
                </P>
            </div>
        </div> -->
        <div class="col-3">
            <div class="box">
                <small>{{'TOTAL TIP AMOUNT' | translate}}</small>
                <P>
                    <strong
                        class="bold">{{currency}}{{amount_total && amount_total.total_tip_agent ? (amount_total.total_tip_agent).toFixed(price_decimal_length) : '0.00'}}</strong>
                </P>
            </div>
        </div>
    </ul>

    <div class="reporttop m-top-30"
        style="border: 1px solid rgba(18,17,17,0.1);	border-radius: 4px;	background-color: #FDFDFC;">
        <form>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 mb-2" ng-if="profile === 'ADMIN'">
                            <div class="form-group select-category" style="margin-top: 0px">
                                <label>{{localisation.supplier | translate}}</label>
                                <select class="app" data-placeholder="Choose {{localisation.supplier}}" tabindex="4"
                                    ng-model="selected_supplier"
                                    ng-options="supplier.name for supplier in suppliers"
                                    ng-change="changeSupplier(selected_supplier)">
                                    <option selected disabled value="">{{'SELECT' | translate}}
                                        {{localisation.supplier | translate}}</option>
                                </select>
                                <span class="inputtag"><img src="/img/v1_images/ic_dropdown.svg"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group select-category" style="margin-top: 0px">
                                <label>{{localisation.payment | translate}} Status</label>
                                <select class="app" ng-change="changepaymentStatus(filter.status)"
                                    ng-model="filter.status">
                                    <option selected disabled value="">{{'SELECT STATUS' | translate}}</option>
                                    <option value="2">{{'ALL' | translate}}</option>
                                    <option value="1">{{'PAID' | translate}}</option>
                                    <option value="0">{{'NOT PAID' | translate}}</option>
                                </select>
                                <span class="inputtag"><img src="/img/v1_images/ic_dropdown.svg"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group select-category" style="margin-top: 0px">
                                <label>{{localisation.agent | translate}}</label>
                                <select class="app" placeholder="Choose {{localisation.agent | translate}}" tabindex="4"
                                    ng-model="selected_agent" ng-options="agent.name for agent in agents"
                                    ng-change="changeAgent(selected_agent)">
                                    <option selected value="">{{'ALL' | translate}}</option>
                                </select>
                                <span class="inputtag"><img src="/img/v1_images/ic_dropdown.svg"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" style="margin-top: 0px">
                                <label>{{'DATE' | translate}}</label>
                                <input type="text" id="datepicker_settelment" placeholder="{{'DATE' | translate}}">
                                <span class="inputtag"><img src="/img/v1_images/calendar.svg"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btns" style="margin-top: 32px">
                        <button type="button" ng-click="downloadCSV()"
                            style="border: 1px solid var(--primary-color);	background-color: #FFFFFF; color: var(--primary-color);">{{'DOWNLOAD CSV' | translate}}</button>
                        <button type="button" ng-click="clearFilter()"
                            style="border: 1px solid var(--primary-color);	background-color: #FFFFFF; color: var(--primary-color);">{{'RESET' | translate}}</button>
                        <button type="button" class="bg-success" ng-click="changeFilter()"
                            style="color: #fff; border: 1px solid var(--primary-color); margin-left: 7px;">{{'FILTER' | translate}}</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="tab-content">

        <div class="tab-pane  active">
            <div class="repbtm m-top-40">
                <div class="secnav ">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input style="width: 300px" type="text"
                                placeholder="{{'Search by' | translate }} {{localisation.agent | translate}} id / {{localisation.agent | translate}} {{'NAME' | translate}}"
                                ng-model="search" ng-keypress="searchOrder($event)">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="topfil">
                                <ul>
                                    <li ng-if="is_agent_stripe_split_enabled == 1" style="filter: grayscale(0)"
                                        ng-if="permissions('accounting', 'update') == 1">
                                        <select style="width: 120px; height: 40px;"
                                            ng-change="changePaymentMode(payment_type)" ng-model="payment_type"
                                            convert-to-number>
                                            <option selected disabled value="">{{'SELECT PAYMENT MODE' | translate}}
                                            </option>
                                            <option value="0">{{'CASH' | translate}}</option>
                                            <option value="1">{{'ONLINE' | translate}}</option>
                                        </select>
                                    </li>
                                    <li style="filter: grayscale(0)" ng-if="permissions('accounting', 'update') == 1">
                                        <button type="button" class="bold create"
                                            ng-click="payUser()">{{'PAY' | translate}}</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tableouter m-top-20">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{localisation.order_id | translate}}</th>
                                <th>{{localisation.agent | translate}} {{'ID' | translate}}</th>
                                <th>{{localisation.agent | translate}}
                                    {{'NAME' | translate}}</th>
                                <th ng-if="profile === 'ADMIN'">{{localisation.supplier | translate}}
                                    {{'NAME' | translate}}</th>
                                <!-- <th>{{'PHONE NO.' | translate}}</th> -->
                                <th>{{localisation.order | translate}} {{'DELIVERY DATE' | translate}}</th>
                                <th>{{'DISTANCE' | translate}} (km)</th>
                                <th>{{'DURATION' | translate}} (mins)</th>
                                <th>{{'DELIVERY CHARGES' | translate}}</th>
                                <th>{{localisation.agent | translate}} {{'TIP' | translate}}</th>
                                <!-- <th>{{'WAITING CHARGES' | translate}}</th> -->
                                <!-- <th>{{'TAX' | translate}} </th> -->
                                <th>{{localisation.agent | translate}} {{'COMMISSION' | translate}}</th>
                                <th ng-if="is_enabled_agent_base_price == 1">{{localisation.agent | translate}} {{'BASE PRICE' | translate}}</th>
                                <th ng-if="is_enabled_agent_base_price == 1">{{localisation.agent | translate}} {{'DELIVERY CHARGE SHARE' | translate}}</th>
                                <th>{{localisation.orders | translate}} {{'AMOUNT' | translate}}</th>
                                <!-- <th style="width: 110px">{{'BALANCE AMOUNT' | translate}}</th> -->
                                <th>{{'CUSTOMER' | translate}} {{localisation.payment | translate}}
                                    {{'TYPE' | translate}}</th>
                                <th>{{'CUSTOMER' | translate}} {{localisation.payment | translate}}
                                    {{'REFERENCE NO' | translate}}
                                </th>
                                <th>{{'CUSTOMER' | translate}} {{localisation.payment | translate}}
                                    {{'ID' | translate}}
                                </th>
                                <th>{{'REQUEST' | translate}} {{'STATUS' | translate}}</th>
                                <th>{{localisation.payment | translate}} Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="account in account_data">
                                <td><label ng-if="account.payment_status == 'Not Paid'" class="check"><input
                                            type="checkbox" ng-click="check(account)"><span></span></label></td>
                                <td><span style="font-weight: 600; color: var(--primary-color); cursor: pointer;"
                                        ui-sref="orders.ordersDescription({order_id:account.order_id})">{{account.order_id}}</span>
                                </td>
                                <td>{{account.agent_id}}</td>
                                <td>{{account.name}}</td>
                                <td ng-if="profile === 'ADMIN'">{{account.supplier_name}}</td>
                                <!-- <td>{{account.phone_number}}</td> -->
                                <td>
                                    <span>
                                        {{account.delivery_date | date: 'MMM d, y' : 'UTC'}}
                                    </span> <br>
                                    <span>
                                        {{account.delivery_date | date: 'hh:mm a' : 'UTC'}}
                                    </span>
                                </td>
                                <td>{{account.distance}}</td>
                                <td>{{account.duration}}</td>
                                <td>{{(account.delivery_charges).toFixed(price_decimal_length)}}</td>
                                <td>{{(account.tip_agent).toFixed(price_decimal_length)}}</td>
                                <!-- <td>{{account.waiting_charges}}</td> -->
                                <!-- <td>{{account.handling_admin}}</td> -->
                                <td>{{(account.commission_ammount).toFixed(price_decimal_length)}}</td>
                                <td ng-if="is_enabled_agent_base_price == 1">{{(account.agent_base_price).toFixed(price_decimal_length)}}</td>
                                <td ng-if="is_enabled_agent_base_price == 1">{{(account.agent_delivery_charge_share).toFixed(price_decimal_length)}}</td>
                                <td>{{(account.net_amount).toFixed(price_decimal_length)}}</td>
                                <!-- <td>{{account.total_amount}}</td> -->
                                <td>
                                    <p ng-if="account.payment_type == 0">
                                        {{'CASH' | translate}}</p>
                                    <p ng-if="account.payment_type == 1">
                                        {{ 'ONLINE' | translate}}<span>({{account.payment_source}})</span></p>
                                </td>
                                <td>{{account.payment_reference_number}}</td>
                                <td>{{account.payment_id}}</td>
                                <td>
                                    <span
                                        ng-if="account.withdraw_request_status == null">{{'NOT REQUESTED' | translate}}</span>
                                    <span ng-if="account.withdraw_request_status == 0"
                                        style="color: rgb(255, 163, 25)">{{'PENDING' | translate}}</span>
                                    <span ng-if="account.withdraw_request_status == 1"
                                        style="color: #7A9E50">{{'ACCEPTED' | translate}}</span>
                                    <span ng-if="account.withdraw_request_status == 2"
                                        style="color: #dc3545;">{{'REJECTED' | translate}}</span>
                                </td>
                                <td>{{account.payment_status}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="no-data-found" ng-if="account_data.length == 0 && dataLoaded">
                        {{'NO DATA FOUND' | translate}}
                    </div>

                    <div ng-if="account_data.length > 0 && dataLoaded" class="row pagination">
                        <ul ng-if="pager.pages && pager.pages.length">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(1)">{{'FIRST' | translate}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(pager.currentPage - 1)">{{'PREVIOUS' | translate}}</a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a ng-click="setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.currentPage + 1)">{{'NEXT' | translate}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.totalPages)">{{'LAST' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<success-modal message="message"></success-modal>

<style>
    .accsettle .box {
        border: 2px solid #dddddd;
        padding: 15px 5px;
        cursor: pointer;
        text-align: center;
    }

    .accsettle .box small {
        font-size: 14px !important;
        height: 50px;
        display: block;
    }

    .accsettle strong {
        font-size: 22px !important;
    }
</style>
