<div class="wrapper promotion_page">
    <div class="category" ng-if="!is_add">
        <div class="secnav">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="bold">{{localisation.promo_code | translate}}</h1>
                </div>
            </div>
        </div>
        <div class="secnav m-top-20">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <input type="text" placeholder="{{'SEARCH' | translate}}" name="search" ng-model="search"
                        style="width: 235px" ng-keypress="searchPromo($event)">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="topfil">
                        <ul>
                            <li style="position: relative">
                                <label style="position: absolute; top: -22px; left: 3px">{{'DATE' | translate}}</label>
                                <input style="width: 200px" type="text" id="datepicker_promo"
                                    placeholder="{{'DATE' | translate}}" readonly>
                                <span style="position: absolute; right: 13px; top: 3px" class="inputtag"><img
                                        src="/img/v1_images/calendar.svg"></span>
                            </li>

                            <li style="position: relative">
                                <label style="position: absolute;top: -22px;">{{'PROMO TYPE' | translate}}</label>
                                <select style="width: 142px" class="app" ng-model="promo_code_type"
                                    ng-change="selectPromoCodeType(promo_code_type)"
                                    placeholder="{{'PROMO TYPE' | translate}}" name="promo_code_type" convert-to-number
                                    required>
                                    <option selected disabled value="">{{'SELECT' | translate}}</option>
                                    <option value="0">{{'ALL USERS' | translate}}</option>
                                    <option value="1">{{'SUBSCRIPTION USERS' | translate}}</option>
                                </select class="app">
                            </li>
                            <li style="position: relative">
                                <label style="position: absolute;top: -22px;">{{'USER TYPE' | translate}}</label>
                                <select style="width: 142px" ng-model="user_type" ng-change="selectUserType(user_type)"
                                    convert-to-number>
                                    <option value="1">{{'ALL' | translate}}</option>
                                    <option value="2">{{'ALL USERS' | translate}}</option>
                                    <option value="3">{{'FIRST TIME USERS' | translate}}</option>
                                </select>
                            </li>
                            <li style="position: relative" ng-if="user_type == 2">
                                <label style="position: absolute;top: -25px;">{{'SORT BY' | translate}}</label>
                                <select style="width: 145px" ng-model="sort_by" ng-change="selectSortBy(sort_by)"
                                    convert-to-number>
                                    <option value="" selected disabled>{{'SELECT' | translate}}</option>
                                    <option value="1">{{'REDEEMS PER USER' | translate}}</option>
                                    <option value="2">{{'TOTAL VOUCHERS' | translate}}</option>
                                </select>
                            </li>
                            <li style="filter: grayscale(0)" ng-if="permissions('promotions', 'create') == 1">
                                <button type="button" class="bold create" ng-click="changeView(true)"
                                    ng-disabled="(profile === 'SUPPLIER' ?  restriction_view_only_for_restaurant === '1' : false)"
                                    ng-class="(profile === 'SUPPLIER' && restriction_view_only_for_restaurant === '1') ? 'restrictRestaurant' : ''">+
                                    {{localisation.promo_code | translate}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainbanner promocod m-top-30">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="promo in promoCodeList">
                    <div class="bx">
                        <div class="top back text-center"
                            style="background-image: url(img/v1_images/promo_back.png); color: #fff; border-radius: 4px 4px 0px 0px; cursor: default;">
                            <i ng-if="permissions('promotions', 'update') == 1 && (profile == 'ADMIN' || disable_supplier_promo_edit == 0) && (profile === 'SUPPLIER' ? restriction_view_only_for_restaurant === 0 : true)"
                                class="fa fa-edit edit-promo" ng-click="editPromo(promo)"></i>
                            <i ng-if="permissions('promotions', 'delete') == 1 && (profile === 'SUPPLIER' ? restriction_view_only_for_restaurant === 0 : true)"
                                class="fa fa-trash delete-promo" ng-click="deletePromo(promo.promoCode)"></i>
                            <p class="bold">{{promo.promoDesc}}</p>
                            <h2 class="bold">{{promo.name}}</h2>
                            <small style="color: #ffffff">{{'EXPIRY DATE' | translate}} :
                                {{promo.endDate | date}}</small>
                        </div>
                        <div class="btm">
                            <ul>
                                <li ng-if="promo.firstTime">{{'VALID FOR FIRST TIME USER ONLY' | translate}}</li>
                                <li ng-if="!promo.firstTime">{{'VALID FOR ALL USERS' | translate}}</li>
                                <!-- <li>Voucher applicable on {{promo.type == 1 ? 'category' : 'supplier'}}</li> -->
                                <li>Min. {{localisation.order | translate}} Amount is {{currency}}{{promo.minPrice}}
                                </li>
                                <li>{{'PROMO QUANTITY IS' | translate}} {{promo.maxUsers}}</li>
                            </ul>
                            <p ng-if="is_single_vendor == 0 && app_type != 1" class="bold text-center cursor"
                                ng-click="openCategorySupplier(promo)">{{'VALID FOR' | translate}}
                                {{(promo.promoType == 1 ? (localisation.category | translate) : localisation.supplier) |
                                translate}}
                            </p>
                            <p ng-if="is_single_vendor == 0 && app_type == 1 && profile == 'ADMIN'"
                                class="bold text-center cursor" ng-click="openCategorySupplier(promo)">
                                {{'VIEW' | translate}}
                                {{localisation.suppliers | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="no-data-found" ng-if="promoCodeList.length == 0 && dataLoaded">
                {{'NO DATA FOUND' | translate}}
            </div>

            <div ng-if="promoCodeList.length > 0 && dataLoaded" class="row pagination">
                <ul ng-if="pager.pages && pager.pages.length">
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(1)">{{'FIRST' | translate}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(pager.currentPage - 1)">{{'PREVIOUS' | translate}}</a>
                    </li>
                    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                        <a ng-click="setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.currentPage + 1)">{{'NEXT' | translate}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.totalPages)">{{'LAST' | translate}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="category" ng-if="is_add" style="width: 80%; margin: 0 auto">

        <div class="secnav">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="bold">{{(is_edit ? 'EDIT' : 'ADD') | translate}} {{'PROMO' | translate}}</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="" class="backbtn" ng-click="changeView(false)" style="float: right"><img
                            src="img/v1_images/ic_dropdown.svg">{{'BACK' | translate}}</a>
                </div>
            </div>
        </div>

        <div class="addban m-top-30 innpad">
            <div class="persinfo">
                <form role="form" id="addPromoForm" name="addPromoForm" enctype="multipart/form-data"
                    ng-submit="addPromoCode(addPromoForm)" novalidate>

                    <div class="row">
                        <div class="col-md-6" style="padding-left: 0px">
                            <div class="form-group">
                                <div class="labelrad">
                                    <label class="cursor">
                                        <input type="radio" name="user" value="0" convert-to-number
                                            ng-model="voucher.is_first_user"><span></span>{{'FOR ALL USERS' |
                                        translate}}
                                    </label>
                                    <label class="cursor">
                                        <input type="radio" name="user" value="1" convert-to-number
                                            ng-model="voucher.is_first_user"><span></span>{{'FOR FIRST TIME USER ONLY' |
                                        translate}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row select-category">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{localisation.promo_code | translate}} {{'Name' | translate}}<span class="star">*</span></label>
                                <input type="text" limit-to="60" name="promo_name" ng-model="voucher.name"
                                    no-special-char placeholder="{{localisation.promo_code | translate}} {{'Name' | translate}}" required>
                                <div class="error"
                                    ng-show="addPromoForm.promo_name.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_name.$error.required">{{'PLEASE ENTER NAME' |
                                        translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{localisation.promo_code | translate}} {{'Description' | translate}}<span
                                        class="star">*</span></label>
                                <input type="text" name="promo_description" limit-to="150" ng-model="voucher.desc"
                                    placeholder="{{localisation.promo_code | translate}} Description" required>
                                <div class="error"
                                    ng-show="addPromoForm.promo_description.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_description.$error.required">{{'PLEASE ENTER DESCRIPTION' | translate}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="display: inline-block;">{{localisation.promo_code | translate}}
                                    {{'DISCOUNT' | translate}}<span class="star">*</span></label>
                                <div class="labelrad">
                                    <label>
                                        <input type="radio" name="discount" value="1" required convert-to-number
                                            ng-click="voucher.discount_price = ''"
                                            ng-model="voucher.discount_type"><span></span>%
                                    </label>
                                    <label>
                                        <input type="radio" name="discount" value="0" required convert-to-number
                                            ng-click="voucher.discount_price = ''"
                                            ng-model="voucher.discount_type"><span></span>{{'FLAT' | translate}}
                                    </label>
                                </div>
                                <input name="promo_discount" ng-if="voucher.discount_type == 1" type="number" integers
                                    ng-model="voucher.discount_price" placeholder="{{'Promo Discount' | translate}}" min="1" max="100"
                                    required>
                                <input name="promo_discount" ng-if="voucher.discount_type == 0" type="number" integers
                                    ng-model="voucher.discount_price" placeholder="{{'Promo Discount' | translate}}" min="1" required>
                                <div class="error"
                                    ng-show="addPromoForm.promo_discount.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_discount.$error.required">{{'Please enter discount' | translate}}.</small>
                                    <small ng-show="addPromoForm.promo_discount.$error.min">{{localisation.promo_code |
                                        translate}}
                                        discount must be more
                                        than 0.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'MINIMUM BASKET VALUE' | translate}}<span class="star">*</span></label>
                                <input type="text" name="promo_min_basket_value" production-qty limit-to="4"
                                    ng-model="voucher.basket_val_MO"
                                    placeholder="{{'MINIMUM BASKET VALUE' | translate}}" required>
                                <div class="error"
                                    ng-show="addPromoForm.promo_min_basket_value.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_min_basket_value.$error.required">{{'Please Enter Minimum Basket Value' | translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div ng-if="is_single_vendor == 0" class="col-md-6">
                            <div class="form-group">
                                <label>{{'PROMO BEARER' | translate}}<span class="star">*</span></label>
                                <select class="app" ng-model="voucher.bear_by" placeholder="Promo Bearer" name="bear_by"
                                    convert-to-number required>
                                    <option selected disabled value="">{{'SELECT' | translate}}</option>
                                    <option value="0" ng-disabled="profile=='SUPPLIER'">{{'ADMIN' | translate}}</option>
                                    <option value="1">{{localisation.supplier | translate}}</option>
                                </select class="app">
                                <div class="error" ng-show="addPromoForm.bear_by.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.bear_by.$error.required">{{'Please Promo Bearer' | translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="is_user_subscription == 1">
                            <div class="form-group">
                                <label>{{'PROMO TYPE' | translate}}<span class="star">*</span></label>
                                <select class="app" ng-model="voucher.promo_user_subscription_type"
                                    placeholder="{{'PROMO TYPE' | translate}}" name="promo_user_subscription_type"
                                    convert-to-number required>
                                    <option selected disabled value="">{{'SELECT' | translate}}</option>
                                    <option value="0">{{'All USERS' | translate}}</option>
                                    <option value="1">{{'SUBSCRIPTION USERS' | translate}}</option>
                                </select class="app">
                                <div class="error"
                                    ng-show="addPromoForm.promo_user_subscription_type.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_user_subscription_type.$error.required">{{'Please Select Promo Type On' | translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div ng-if="is_single_vendor == 0 && hide_promo_commission ==0" class="col-md-6">
                            <div class="form-group">
                                <label>{{'PROMO APPLICABLE ON' | translate }}<span class="star">*</span></label>
                                <select class="app" ng-model="voucher.commission_on"
                                    placeholder="{{'PROMO APPLICABLE ON' | translate}}" name="commission_on"
                                    convert-to-number required>
                                    <option selected disabled value="">{{'SELECT' | translate}}</option>
                                    <option value="0">{{'ORIGINAL PRICE' | translate}}</option>
                                    <option value="1">{{'DISCOUNTED PRICE' | translate}}</option>
                                </select class="app">
                                <div class="error"
                                    ng-show="addPromoForm.commission_on.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.commission_on.$error.required">{{'Please Commission On' | translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="voucher.is_first_user == 0">
                            <div class="form-group">
                                <label>{{'TOTAL NO. OF VOUCHERS' | translate}}<span class="star">*</span></label>
                                <input type="text" name="promo_total_vouchers" production-qty limit-to="4"
                                    ng-model="voucher.no_of_voucher"
                                    placeholder="{{'TOTAL NO. OF VOUCHERS' | translate}}" required>
                                <div class="error"
                                    ng-show="addPromoForm.promo_total_vouchers.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_total_vouchers.$error.required">{{'Please Enter Total No. Of Vouchers' | translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="voucher.is_first_user == 0">
                            <div class="form-group">
                                <label>{{'NO. OF REDEEMS ALLOWED (PER USER)' | translate}}<span
                                        class="star">*</span></label>
                                <input type="text" name="promo_redeems" production-qty limit-to="4"
                                    ng-model="voucher.no_of_redeem"
                                    placeholder="{{'NO. OF REDEEMS ALLOWED (PER USER)' | translate}}" required>
                                <div class="error"
                                    ng-show="addPromoForm.promo_redeems.$invalid && addPromoForm.$submitted">
                                    <small ng-show="addPromoForm.promo_redeems.$error.required">{{'Please Enter No. Of Redeems Allowed' | translate}}.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="is_enable_max_discount_value == 1">
                            <div class="form-group">
                                <label>{{'MAX. DISCOUNT' | translate}}</label>
                                <input name="max_discount_value" type="number" integers
                                    ng-model="voucher.max_discount_value" placeholder="{{'Max Discount' | translate}}">
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group pro" style="position: relative">
                                <label>{{'PROMO VALIDITY' | translate}}<span
                                        class="star">*</span></label>
                                <input type="text" name="promo_validity" ng-model="validity" id="datepicker"
                                    style="padding-left: 45px;" placeholder="{{'PROMO VALIDITY' | translate}}" readonly
                                    required>
                                <span class="inputtag calender"
                                    ng-style="addPromoForm.promo_validity.$invalid && addPromoForm.$submitted ? {'bottom' : '32px'} : {'bottom' : '10px'}"><img
                                        src="/img/v1_images/calendar.svg"></span>
                                <div class="error"
                                    ng-show="addPromoForm.$submitted && addPromoForm.promo_validity.$invalid">
                                    <small ng-show="addPromoForm.promo_validity.$error.required">{{'Please select promo validity' | translate}}.</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="margin-top: 20px;"
                        ng-if="is_single_vendor == 0 && profile == 'ADMIN'">
                        <label>{{app_type == 1 ? ('SELECT' | translate) + ' ' + (localisation.suppliers | translate) :
                            ('SELECT ' + localisation.promo_code + ' TYPE' | translate)}}<span
                                class="star">*</span></label>
                        <div class="radio" ng-if="app_type != 1">
                            <label style="margin-right: 13px">
                                <input ng-model="voucher.type" value="0" type="radio" name="type" convert-to-number
                                    ng-click="markAll(mark_all);"
                                    ng-disabled="(profile === 'SUPPLIER' ?  restriction_view_only_for_restaurant === '1' : false)"
                                    ng-class="(profile === 'SUPPLIER' && restriction_view_only_for_restaurant === '1') ? 'restrictRestaurant' : ''"><span></span>{{'BY'
                                | translate}}
                                {{localisation.supplier | translate}}
                            </label>
                            <label style="margin-right: 13px">
                                <input ng-model="voucher.type" value="1" type="radio" name="type" convert-to-number
                                    ng-click="markAll(mark_all);"
                                    ng-disabled="(profile === 'SUPPLIER' ?  restriction_view_only_for_restaurant === '1' : false)"
                                    ng-class="(profile === 'SUPPLIER' && restriction_view_only_for_restaurant === '1') ? 'restrictRestaurant' : ''"><span></span>{{'BY
                                ' + localisation.category| translate}}
                            </label>
                        </div>
                    </div>

                    <div class="row suppro" ng-if="!(app_type == 1 && is_single_vendor == 1) && profile == 'ADMIN'"
                        ng-style=" app_type==1 ? {'margin-top': '-15px' } : ''">
                        <div class=" col-md-6">
                            <div class="form-group">
                                <div class="row select-category" ng-if="voucher.type == 0 && app_type != 1"
                                    style="margin-bottom: 20px">
                                    <div class="col-md-12">
                                        <select class="app" data-placeholder="Choose Category" tabindex="4"
                                            ng-model="selected_category"
                                            ng-options="category.name for category in categories"
                                            ng-change="chooseCategory(selected_category)">
                                        </select>
                                    </div>
                                </div>

                                <div class="box">
                                    <div class="top">
                                        <h2 class="bold">
                                            {{voucher.type == 1 ? (localisation.categories | translate) :
                                            (localisation.supplier | translate)}}
                                        </h2>
                                        <label style="margin-right: 13px">{{'MARK ALL' | translate}}<input
                                                type="checkbox" name="mark_all" ng-click="markAll(!mark_all)"
                                                ng-model="mark_all">
                                            <span style="margin-left: 8px; top: 2px;"></span></label>
                                    </div>

                                    <ul class="items" ng-if="voucher.type == 1">
                                        <li ng-repeat="category in  categories">{{category.name}}
                                            <label><input type="checkbox" name="{{category.name}}"
                                                    ng-click="selectCategory(category)" ng-checked="category.checked">
                                                <span></span></label>
                                        </li>
                                    </ul>

                                    <ul class="items" ng-if="voucher.type == 0 && suppliers.length">
                                        <li ng-repeat="supplier in  suppliers">{{supplier.name}}
                                            <label><input type="checkbox" name="{{supplier.name}}"
                                                    ng-click="selectSupplier(supplier)" ng-checked="supplier.checked">
                                                <span></span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="error" ng-if="!selected_count && addPromoForm.$submitted">
                                    <small>{{'PLEASE SELECT' | translate}}
                                        {{voucher.type == 1 ? (localisation.categories | translate) :
                                        (localisation.supplier | translate)}}.</small>
                                </div>
                            </div>
                            <div class="supprobtmtxt">
                                <p>{{selected_count}}
                                    {{voucher.type == 1 ? (localisation.category | translate) : (localisation.supplier |
                                    translate)}}
                                    Selected</p>
                            </div>
                        </div>
                    </div>

                    <div class="button m-top-20">
                        <button type="submit" class="bold nxt"
                            ng-disabled="(profile === 'SUPPLIER' ?  restriction_view_only_for_restaurant === '1' : false)"
                            ng-class="(profile === 'SUPPLIER' && restriction_view_only_for_restaurant === '1') ? 'restrictRestaurant' : ''">{{'DONE' | translate}}</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal" id="viewPromo">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modhead">
                    <h2 class="bold" style="display: inline-block;">{{'PROMO' | translate}}</h2>
                    <button type="button" class="close" id="closePromoModal" data-dismiss="modal"
                        ng-disabled="(profile === 'SUPPLIER' ?  restriction_view_only_for_restaurant === '1' : false)"
                        ng-class="(profile === 'SUPPLIER' && restriction_view_only_for_restaurant === '1') ? 'restrictRestaurant' : ''"><img
                            src="img/v1_images/ic_cross.svg"></button>
                </div>
                <div class="modbody promo">
                    <h1>{{'PROMO APPLIED ON' | translate}}
                        {{promo_to_display.type == 1 ? 'category' : localisation.supplier | translate}}
                    </h1>

                    <div class="row">
                        <div class="col-md-6 box" ng-repeat="data in promo_to_display.array">
                            <p ng-if="promo_to_display.type == 1">{{data.categoryName}}</p>
                            <p ng-if="promo_to_display.type == 0">{{data.supplierName}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<success-modal message="message"></success-modal>

<style>
    .delete-promo {
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 21px;
        z-index: 9;
        cursor: pointer;
    }

    .edit-promo {
        position: absolute;
        left: 12px;
        top: 10px;
        font-size: 22px;
        z-index: 9;
        cursor: pointer;
    }

    .calender {
        bottom: 10px;
        position: absolute;
        left: 10px;
    }

    .promo {
        margin-bottom: 20px;
    }

    .promo h1 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #00000099;
        font-size: 16px;
    }

    .promo .box p {
        border: 1px solid #0000001f;
        border-radius: 4px;
        padding: 4px 8px;
        color: #494949;
    }
</style>