<div class="reporttop m-top-30"
  style="border: 1px solid rgba(18,17,17,0.1);	border-radius: 4px;	background-color: #FDFDFC;">
  <form>

    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" style="margin-top: 0px">
              <label>{{'SEARCH' | translate}}</label>
              <input type="text" ng-model="filter.search" placeholder="{{'SEARCH BY NAME / EMAIL' | translate}}">
              <span class="inputtag"><img src="/img/v1_images/calendar.svg"></span>
            </div>
          </div>

          <div ng-if="profile === 'ADMIN' && !is_admin && is_single_vendor == 0" class="col-md-6">
            <div class="form-group select-category" style="margin-top: 0px">
              <label>{{localisation.supplier | translate}}</label>
              <select class="app" ng-model="selected_supplier"
                ng-options="supplier.supplier_name for supplier in suppliers"
                ng-change="changeSupplier(selected_supplier)">
                <option value="">{{'ALL' | translate}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" style="margin-top: 0px">
              <label>{{'DATE' | translate}}</label>
              <input type="text" id="datepicker_supplier_report" placeholder="{{'DATE' | translate}}">
              <span class="inputtag"><img src="/img/v1_images/calendar.svg"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="agent-toggle" ng-if="profile === 'ADMIN' && is_single_vendor == 0">
          <label class="rprt"> {{'ADMIN LEVEL' | translate}} {{localisation.agents | translate}}
            <div class="switch togglebtn">
              <input type="checkbox" id="togBtn" ng-checked="is_admin" ng-click="toggleAdmin()">
              <div class="slider round">
                <span class="on"></span>
                <span class="off"></span>
              </div>
            </div>
          </label>
        </div>
        <div class="btns" style="margin-top: 32px">
          <button type="button" ng-click="downloadCSV()"
            style="border: 1px solid var(--primary-color);	background-color: #FFFFFF; color: var(--primary-color);">{{'DOWNLOAD CSV' | translate}}</button>
          <button type="button" ng-click="resetFilter()"
            style="border: 1px solid var(--primary-color);	background-color: #FFFFFF; color: var(--primary-color);">{{'RESET' | translate}}</button>
          <button type="button" class="bg-success" ng-click="selectFilter()"
            style="color: #fff; border: 1px solid var(--primary-color); margin-left: 7px;">{{'FILTER' | translate}}</button>
        </div>
      </div>
    </div>

  </form>
</div>

<div class="repbtm m-top-40">
  <!-- <div class="secnav ">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <input type="text" placeholder="Search">
      </div>
    </div>
  </div> -->

  <div class="tableouter m-top-20">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>{{'NAME' | translate}}</th>
          <th>{{'EMAIL' | translate}}</th>
          <th ng-if="!is_admin && profile === 'ADMIN' && is_single_vendor == 0">{{localisation.supplier | translate}}
          </th>
          <th>{{'Total Amount' | translate}}</th>
          <th class="cursor" ng-click="sortBy(3)">{{'TOTAL ' + localisation.orders | translate}} <i
              class="fa fa-sort"></i></th>
          <th class="cursor" ng-click="sortBy(4)">{{'REVENUE' | translate}} <i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="agent in agents">
          <td>{{agent.user_id}}</td>
          <td>{{agent.name}}</td>
          <td>{{agent.email}}</td>
          <td ng-if="!is_admin && profile === 'ADMIN' && is_single_vendor == 0">{{agent.supplier_name}}</td>
          <td>{{agent.totalNetAmount}}</td>
          <td>{{agent.total_orders}}</td>
          <td>{{currency}}{{(agent.revenue).toFixed(price_decimal_length)}}</td>
        </tr>
      </tbody>
    </table>
    <div class="no-data-found" ng-if="agents.length == 0 && dataLoaded">
      {{'NO DATA FOUND' | translate}}
    </div>

    <div ng-if="agents.length > 0 && dataLoaded" class="row pagination">
      <ul ng-if="pager.pages && pager.pages.length">
        <li ng-class="{disabled:pager.currentPage === 1}">
          <a ng-click="setPage(1)">{{'FIRST' | translate}}</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === 1}">
          <a ng-click="setPage(pager.currentPage - 1)">{{'PREVIOUS' | translate}}</a>
        </li>
        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
          <a ng-click="setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
          <a ng-click="setPage(pager.currentPage + 1)">{{'NEXT' | translate}}</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
          <a ng-click="setPage(pager.totalPages)">{{'LAST' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .agent-toggle {
    position: absolute;
    right: 20px;
    top: -8px;
  }

  .agent-toggle .togglebtn {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: -4px;
  }
</style>