<div class="wrapper promotion_page">
    <div class="category" ng-if="!is_add">
        <div class="secnav">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="bold">{{localisation.user | translate}} {{localisation.subscription_plans | translate}}</h1>
                </div>
                <!-- <div style="text-align: right; " class="col-md-6 col-sm-6">
                    <a style="color: var(--primary-color); text-transform: capitalize; font-size: 14px; text-decoration: underline;"
                        href="/#!/subscription/suppliers-purchased-plan">{{localisation.suppliers}} PURCHASED PLANS</a>
                </div> -->
            </div>
        </div>
        <div class="secnav m-top-20">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <input type="text" placeholder="Search By Name" name="search" ng-model="search" style="width: 235px"
                        ng-keypress="searchPlan($event)">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="topfil">
                        <ul>
                            <li style="filter: grayscale(0)" ng-if="permissions('promotions', 'create') == 1">
                                <button type="button" class="bold create"
                                    ng-click="changeView(true)">{{'ADD PLAN' | translate}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainbanner promocod m-top-30">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="plan in planList">
                    <div class="bx">
                        <div class="top back text-center"
                            style="background-image: url(img/v1_images/promo_back.png); color: #fff; border-radius: 4px 4px 0px 0px; cursor: default;">
                            <i ng-if="permissions('promotions', 'update') == 1" class="fa fa-edit edit-promo"
                                ng-click="editPlan(plan)"></i>
                            <i ng-if="permissions('promotions', 'delete') == 1" class="fa fa-trash delete-promo"
                                ng-click="deletePlan(plan)"></i>
                            <h2 class="bold">{{plan.title}}</h2>
                            <h5 class="bold">{{'PRICE' | translate}}: {{currency}} {{plan.price}}</h5>
                            <small style="color: #ffffff">{{'PLAN TYPE' | translate}} :
                                <span ng-if="plan.type == '1'">{{'WEEKLY' | translate}}</span>
                                <span ng-if="plan.type == '2'">{{'MONTHLY' | translate}}</span>
                                <span ng-if="plan.type == '3'">{{'YEARLY' | translate}}</span>
                            </small>
                        </div>
                        <div class="btm">
                            <div class="description" ng-if="plan.total_revenue">Total Revenue : {{plan.total_revenue}}
                            </div>
                            <div class="description" ng-if="plan.total_purchased">Total Purchased :
                                {{plan.total_purchased}}</div>
                            <div class="description" ng-if="plan.description">Description : {{plan.description}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="no-data-found" ng-if="planList.length == 0 && dataLoaded">
                {{'NO DATA FOUND' | translate}}
            </div>

            <div ng-if="planList.length > 0 && dataLoaded" class="row pagination">
                <ul ng-if="pager.pages && pager.pages.length">
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(1)">{{'FIRST' | translate}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === 1}">
                        <a ng-click="setPage(pager.currentPage - 1)">{{'PREVIOUS' | translate}}</a>
                    </li>
                    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                        <a ng-click="setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.currentPage + 1)">{{'NEXT' | translate}}</a>
                    </li>
                    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                        <a ng-click="setPage(pager.totalPages)">{{'LAST' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="category" ng-if="is_add" style="width: 80%; margin: 0 auto">

        <div class="secnav">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="bold">{{(is_edit ? 'EDIT' : 'ADD') | translate}} {{'PLAN' | translate}}</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="" class="backbtn" ng-click="changeView(false)" style="float: right"><img
                            src="img/v1_images/ic_dropdown.svg">{{'BACK' | translate}}</a>
                </div>
            </div>
        </div>

        <div class="addban m-top-30 innpad">
            <div class="persinfo formsec">
                <form role="form" id="addPlanForm" name="addPlanForm" enctype="multipart/form-data"
                    ng-submit="addPlan(addPlanForm)" novalidate>

                    <div class="row select-category">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 file">
                                        <label>{{'IMAGE' | translate}}<p class="star">*</p></label>
                                        <!-- <p class="aspect-ratio">{{'ASPECT RATIO' | translate}} - 4 : 3 </p> -->
                                        <span style="height: 104px; width: 160px; cursor: pointer">
                                            <img ng-if="!product_img1" src="img/v1_images/ic_dummy.png">
                                            <img ng-if="product_img1" style="height: 100%; width: 100%"
                                                src="{{product_img1}}">
                                        </span>
                                        <input filestyle="" type="file" accept="image/*" name="image2"
                                            ng-model="product_img1" class="form-control cursor"
                                            onchange="angular.element(this).scope().file_to_upload_for_image(this.files, 1)"
                                            data-button-text="Single" data-class-button="btn btn-default"
                                            data-classinput="form -control inline" nv-file-select="" uploader="uploader"
                                            ng-required="!food_item_image_optional" />
                                        <div class="error"
                                            ng-show="addPlanForm.image2.$invalid && addPlanForm.$submitted">
                                            <small ng-show="addPlanForm.image2.$error.required">Please select
                                                image.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'PLAN' | translate}} Name<span class="star">*</span></label>
                                <input type="text" limit-to="60" name="plan_name" ng-model="plan.name"
                                    placeholder="{{'PLAN' | translate}} Name" required>
                                <div class="error" ng-show="addPlanForm.plan_name.$invalid && addPlanForm.$submitted">
                                    <small ng-show="addPlanForm.plan_name.$error.required">Please enter name.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'PRICE' | translate}}<span class="star">*</span></label>
                                <input type="text" name="price" integers limit-to="4" ng-model="plan.price"
                                    placeholder="{{'PRICE' | translate}}" required>
                                <div class="error" ng-show="addPlanForm.price.$invalid && addPlanForm.$submitted">
                                    <small ng-show="addPlanForm.price.$error.required">Please enter
                                        price.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'PLAN TYPE' | translate}}<span class="star">*</span></label>
                                <select class="app" ng-model="plan.type" placeholder="{{'PLAN TYPE' | translate}}"
                                    name="type" required>
                                    <option selected disabled value="">{{'SELECT PLAN TYPE' | translate}}</option>
                                    <option value="1">{{'WEEKLY' | translate}}</option>
                                    <option value="2">{{'MONTHLY' | translate}}</option>
                                    <option value="3">{{'YEARLY' | translate}}</option>
                                </select class="app">
                                <div class="error" ng-show="addPlanForm.type.$invalid && addPlanForm.$submitted">
                                    <small ng-show="addPlanForm.type.$error.required">Please Select Plan.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'PLAN' | translate}} Description<span class="star">*</span></label>
                                <textarea type="text" limit-to="60" name="plan_description" ng-model="plan.description"
                                    placeholder="{{'PLAN' | translate}} Description" required></textarea>
                                <div class="error"
                                    ng-show="addPlanForm.plan_description.$invalid && addPlanForm.$submitted">
                                    <small ng-show="addPlanForm.plan_description.$error.required">Please enter
                                        description.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Minimum Order Amount' | translate}}<span class="star">*</span></label>
                                <input type="text" name="min_order_amount" production-qty limit-to="4"
                                    ng-model="plan.min_order_amount"
                                    placeholder="{{'Minimum Order Amount' | translate}}" required>
                                <div class="error"
                                    ng-show="addPlanForm.min_order_amount.$invalid && addPlanForm.$submitted">
                                    <small ng-show="addPlanForm.min_order_amount.$error.required">Please enter
                                        minimum order amount.</small>
                                </div>
                            </div>
                        </div>


                        <div ng-if="plan.benefits && plan.benefits.length" class="col-md-6 addban">
                            <div class="persinfo">
                                <div class="form-group " style="margin-top: 20px;">
                                    <label>{{'PLAN BENEFITS' | translate}}<span class="star">*</span></label>
                                </div>
                                <div class="row suppro">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="box">
                                                <div class="top">
                                                    <h2 class="bold">{{'PLAN BENEFITS' | translate}}</h2>
                                                </div>

                                                <ul class="items">
                                                    <li ng-repeat="benefit in plan.benefits">{{benefit.title}}
                                                        <label>
                                                            <i class="fa fa-times remove-benefit"
                                                                ng-click="deleteBenefitPlan(plan_id, benefit.id)"
                                                                aria-hidden="true"></i></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="unassignBenefitList && unassignBenefitList.length" class="col-md-6 addban">
                            <div class="persinfo">
                                <div class="form-group " style="margin-top: 20px;">
                                    <label>{{'UNASSIGN BENEFITS' | translate}}<span class="star">*</span></label>
                                </div>
                                <div class="row suppro">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="box">
                                                <div class="top">
                                                    <h2 class="bold">{{'BENEFITS' | translate}}</h2>
                                                    <label style="margin-right: 13px">{{'MARK ALL' | translate}}<input
                                                            type="checkbox" name="mark_all"
                                                            ng-click="markAll(!mark_all)" ng-model="mark_all">
                                                        <span style="margin-left: 8px; top: 2px;"></span></label>
                                                </div>

                                                <ul class="items" ng-if="unassignBenefitList.length">
                                                    <li ng-repeat="benefit in unassignBenefitList">{{benefit.title}}
                                                        <label><input type="checkbox" name="{{benefit.benefit_id}}"
                                                                ng-click="selectBenefit(benefit)"
                                                                ng-checked="benefit.checked">
                                                            <span></span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="error" ng-if="!selected_count && addPromoForm.$submitted">
                                                <small>{{'PLEASE SELECT' | translate}}
                                                    {{ (localisation.supplier | translate)}}.</small>
                                            </div>
                                        </div>
                                        <div class="supprobtmtxt">
                                            <p>{{selected_count}} {{  'BENEFITS' | translate}} Selected</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button m-top-20">
                        <button type="submit" class="bold nxt">{{'DONE' | translate}}</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<success-modal message="message"></success-modal>

<style>
    .delete-promo {
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 21px;
        z-index: 9;
        cursor: pointer;
    }

    .edit-promo {
        position: absolute;
        left: 12px;
        top: 10px;
        font-size: 22px;
        z-index: 9;
        cursor: pointer;
    }

    .calender {
        bottom: 10px;
        position: absolute;
        left: 10px;
    }

    .promo {
        margin-bottom: 20px;
    }

    .promo h1 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #00000099;
        font-size: 16px;
    }

    .promo .box p {
        border: 1px solid #0000001f;
        border-radius: 4px;
        padding: 4px 8px;
        color: #494949;
    }

    .switch {
        position: absolute;
        right: 45px;
        width: 28px;
        height: 16px;
        top: -15px;
    }

    label.switch span {
        position: absolute;
        right: 50px;
        font-weight: 600;
    }

    .star {
        position: relative;
    }

    .remove-benefit {
        border: 1px solid;
        border-radius: 50%;
        padding: 3px 4px;
        background-color: red;
        color: #ffffff;
        cursor: pointer;
    }
</style>